<div id="<%= dom_id bayern_player %>">
  <p>
    <strong>First name:</strong>
    <%= bayern_player.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= bayern_player.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bayern_player.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= bayern_player.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= bayern_player.twitter %>
  </p>

</div>
